body {
  display: flex;
  flex-wrap: wrap;
}

#heading {
  flex-basis: 100%;
  text-align: center;
}

#container {
  display: flex;
  margin: 50px auto 50px;
  width: 600px;
  height: 600px;
  border: 5px solid black;
  flex-wrap: wrap;
}

.boxes {
  box-sizing: border-box;
  border: .1px solid #42445A;
  flex: 1 1 auto;
}

#selection {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

button {
  width: 69px;
  height: 30px;
  margin: auto;
}

#changeSize {
  border: none;
  border-radius: 5px;
  background-color: #4D5CFF;
  color: whitesmoke;
}

#custom {
  padding: 5px;
  height: 60px;
}