body {
  display: flex;
}

#container {
  display: flex;
  margin: 50px auto 50px;
  width: 600px;
  height: 600px;
  border: 5px solid black;
  flex-wrap: wrap;
}

.boxes {
  box-sizing: border-box;
  border: 0.1px solid #42445a;
  flex: 1 1 auto;
}

#selection {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

button {
  width: 69px;
  height: 30px;
  margin: auto;
}

#custom {
  padding: 5px;
  height: 60px;
}
